* {
    box-sizing: border-box;
  }

  button {
    padding:20px;
    font-size: 25px;
    margin-bottom:20px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container>div {
    border: 1px solid black;
    height: 25px;
    width: 25px;
  }

  .container>div:hover {
    background-color: red;
  }

  #sketch-item {
    width:100%;
    border: 0;
    height: 0;
  }
  